.page{
    width: 100%;
    display: flex;
}
.content{
    width: 71%;
}
.navbar-brand{
    width: 200px;
    font-weight: 400;
}
.d-flex{
    margin-right: 30px;
    width: 40%;
}
.navbar{
    display: flex;
}

.Vegetarian{
    display: flex;
    padding-left: 335px
}
.fa-solid{
   font-size: 35px;
   /* margin-left: 420px; */
    
}

.navbar-brand:hover{
    text-decoration: underline;
}

.dealsContainer{
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.item-deals{
    width: 47%;
}
.item-pizzas{
    width: 31%;
}
h5{
    font-size: 20px !important;
}
.card-text{
    color: grey;
    margin-top: 40px;
}
hr{
    width: 100%;
}
.priceBox{
    display: flex;
}
.card-body .btn-primary{
    margin-left: 100px;
    border: none ;
    width: 46%;
    background-color: rgb(10, 128, 32);
}
.card-body .btn-primary:hover{
    background-color: rgb(25, 93, 37);
}
.card-body .pizzas-btn{
    width: 50%;
    margin-left: 69px;
}
.item-sides{
    width: 31%;
}
.card-body .sides-btn{
    width: 50%;
    margin-left: 69px;
}
.item-deserts{
    width: 31%;
}
.card-body .deserts-btn{
    width: 50%;
    margin-left: 69px;
}
.item-drinks{
    width: 31%;
}
.card-body .drinks-btn{
    width: 50%;
    margin-left: 69px;
}


/* basket */
.basket{
    width: 29%;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.gift-card{
    margin-top: 15px;
    color: rgb(10, 128, 32);;
    border: none;
    background-color: white;
}
.gift-card img{
    height: 18px;
}
.gift-text{
    font-weight: 500;
    font: bold;
}
.greater{
    font-weight: 500;
    font-size: 20px;
    margin-left: 7px;
}    
.para{
    font-size: 12px;
    margin: 40px 40px;
}
.para-deal{
    text-decoration: underline;
}
.checkout{
    width: 90%;
    margin-top: 300px;
}
.checkout .btn-primary{
    width: 100%;
    height: 45px;
    background-color: rgb(10, 128, 32);
    border: none;
}




